CHROMA_API_KEY=ck-3FDb4AJ2vDc36fuQ5mt4YVjZaSqXZ2PrW3V1Y5wnZZeH
CHROMA_TENANT=174c1a05-8f92-4c57-8dcb-16488e20a3af
CHROMA_DATABASE=rag-db-v1

OPENAI_API_KEY=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
BACKEND_CORS_ORIGINS=["*"]
